
/* =============================================================================
   CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	height:100%;
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

h1 { font-family: 'Gotham', sans-serif; 
    font-weight: 100;
    font-size: 3rem; 
    line-height: 1em; 
    text-align: center;
    }
section { width: 75%; margin: 5em auto;}
.pw-logo {
    width: 4em;
    display: block;
    padding: 0em;
    margin: auto;
}
.illustration {
    width: 32em;
    display: block;
    padding: 0em;
    
    margin: auto;
}
/* ---- particles.js container ---- */

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}